<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KWL eLearning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">


</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container" style="height:70px;">
                <div class="navbar-header">


                    <img src="~/images/KWL3.png" height="90"/>

                </div>
          
                <div>
                    @Html.Partial("_LessonLoginPartial")
                </div>
            </div>
        </nav>

        <div class="container-fluid body-content" style="width:90%; margin: 0 auto">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - KWL eLearning - Mike Wilkins</p>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




</body>
</html>
