@model IEnumerable<KWLeLearning.Models.Student>

@{
    ViewBag.Title = "KWL";
    Layout = "~/Views/Shared/_LessonPageLayout.cshtml";
}


    <div class="row" style="margin-top: 50px">

        <div class="jumbotron col-md-2" style="margin:5px; height: 300px">
           
            @{ 
                Html.RenderPartial("_LoggedInPartial");
            }
            
            @*
            
            @Model.Password;
            *@
           
        </div>

        <div class="jumbotron col-md-6" style="margin:5px">
            <h2>Lesson</h2>
        </div>

        <div class="jumbotron col-md-3" style="margin:5px">
            <h2>instruction</h2>
        </div>

    </div>



        

